/**** GENERAL STYLING ****/
/* Body */
body {
    margin: 0%;
}

/* Heading 1 Elements */
h1 {
    text-transform: uppercase;
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%;
    color: #1a1a1a;
}

/* Heading 1 Elements Hover Effect */
h1:hover {
    filter: grayscale(5%);
    transform: scale(1.1);
    transition: transform 1s;
}

/* Portfolio Title Text */
.white-text {
    color: #fff;
}

/* Paragraph Elements */
p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Paragraph Elements Hover Effect */
p:hover {
    transition: transform 1s;
    transform: scale(1.01);
}

/* Center Class */
.center {
    text-align: center;
}

/* Center Class Hover Effect - Quote, GitHub Link, and Footer */
.center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/* Anchor Elements */
a {
    color: blue;
}

/* Quotation Elements */
q {
    font-style: italic;
}

/* Image Elements */
img {
    filter: grayscale(65%);
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Image Elements Hover Effect */
img:hover {
    filter: grayscale(5%);
    transition: transform 1s;
    transform: scale(1.1);
}

/* In media queries, applies styles for screens 576px and smaller */
@media screen and (max-width:576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/* Footer Element */
footer {
    padding: 2%; /* Padding is equal to 2% of the width of the element's area */
    background-color: white;
}

/**** END OF GENERAL STYLING ****/

/**** NAVBAR STYLING ****/
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

/* moveNav animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {left: -100vw;} /* Navbar is starting off screen to the left */
    to {left: 0vw;} /* Moves the navbar into place on the screen */
}

/* Navbar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Avant Garde, Helvetica;
    font-size: 20px;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 3.5s;
    animation: moveNavText 3.5s;
}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

/* Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
    .navbar a {
        width: 25%; /* Each navbar link takes up 1/4 of the navbar */
        font-size: 12px;
    }
}

/* Navbar hover effects */
.navbar a:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
}

/* Navbar Home button */
.navbar a.active {
    background-color: darkgray;
}
/**** END NAVBAR STYLING ****/

/**** VIDEO STYLING ****/
/* Formatting for background video */
#Typing_Video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

/* Screens under 576px will not display background video */
@media screen and (max-width: 576px) {
    #Typing_Video {
        display: none;
    }
}

/* Text over video */
.video-text {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 20px; /* Adds padding around video-text container so background goes slightly beyond text */
    position: relative;
    -webkit-animation: moveVideoText 5.1s;
    animation: moveVideoText 5.1s;
}

/* Causes overlay video text to move up from bottom of page upon page load */
@keyframes moveVideoText {
    from {top: -100vw;}
    to {top: 0vw;}
}
/**** END VIDEO STYLING ****/

/**** TABLE STYLING ****/
* { /* Asterisk is a universal selector that applies effect to all elements on page */
    box-sizing: border-box;
}

.column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 400px;
    background-color: #f2f2f2;
}

/* Screens 576px and smaller will display scroll bar if text overflows column height */
@media screen and (max-width: 576px) {
    .column_1 {
        overflow: auto;
    }
}

.column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: #78a994;
}

/* Class applies to columns in final row, overriding height and padding to provide more room for contact form while keeping rest of
formatting from column_1 and column_2 */
.column_tall {
    padding-top: 3.5%;
    height: 450px;
}

/* Inserts content after row elements */
.row::after {
    content: ""; /* Leaving blank allows footer to be displayed */
    display: table;
    clear: both; /* Clears elements from floating on left or right of row */
}
/**** END TABLE STYLING ****/

/**** CONTACT FORM STYLING ****/
/* Targets all input boxes on form */
input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Perpetua, Rockwell Extra Bold;
}

/* Hover effects for input boxes */
input[type=text]:hover {
    box-shadow: 0 0 5px #2f4f4f inset; /*Creates shadow in text box when hovered over */
}

/* Submit button */
input[type=submit] {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Perpetua, Rockwell Extra Bold;
}

/* Hover effect for Submit button */
input[type=submit]:hover {
    background-color: white;
    color: black;
    transform: scale(1.5); /* Button increases in size by 1.5x */
    transition: transform 1.5s;
}

/* Form element */
form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    font-family: "Trebuchet MS", Optima;
}
/**** END CONTACT FORM STYLING ****/